</div>
<footer class="bg-21244D text-center text-white">
    <div class="row">
        <div class="col">
            <div class="button-wrap">
              <a href="https://www.highlandscoffee.com.vn/vn/he-thong-cua-hang.html" class="btn-mm"><i class="fa fa-map-marker" aria-hidden="true"> VIEW MAP</i></a>
            </div>
        </div>
        <div class="col">
            <div class="socialFoot">
              <a href="https://www.facebook.com/highlandscoffeevietnam/" target="_blank"><i class="fa fa-facebook"></i></a>
            </div>
            <div class="socialFoot">
              <a href="https://www.youtube.com/channel/UCHEqa2uTf8uXrGWrnU3ThgA" target="_blank"><i class="fa fa-youtube"></i></a>
            </div>
            <div class="socialFoot">
              <a href="https://www.instagram.com/highlandscoffeevietnam/" target="_blank"><i class="fa fa-instagram"></i></a>
            </div>
            <!-- <ul>
                 <li><a href="https://www.facebook.com/highlandscoffeevietnam/" target="_blank"><i class="fa fa-facebook"></i></a></li><li><a href="https://www.youtube.com/channel/UCHEqa2uTf8uXrGWrnU3ThgA" target="_blank"><i class="fa fa-youtube"></i></a></li><li><a href="https://www.instagram.com/highlandscoffeevietnam/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul> -->
        </div>
        <div class="col"><a>© 2022 Mr.K Coffee. All rights reserved</a></div>
        <div class="col"><a href="javascript:void(0)" onclick="popupMaillist()"><i class="fa fa-paper-plane-o" aria-hidden="true"> Đăng ký để nhận bản tin</i></a></div>
        <div class="col"><a href="mailto:customerservice@mrkcoffee.com.vn"><i class="fa fa-envelope-o" aria-hidden="true"> customerservice@mrkcoffee.com.vn</i></a></div>
    </div>
  </footer>
</body>
</html>