<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="/css/common_style.css">
    <link href = "/jquery/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

    <title><%= title %></title>
    <!-- lib jquery js -->
    <script src="/jquery/jquery.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/jquery/jquery-ui.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/common_js.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <!-- Content here -->
  <div class="content-body">
    <%- include('../fragments/navbar'); -%>